body, html {
  height: 100%
}

ul {
  text-align: right;
  font-size: 20px;
  margin-right: 3%;
}

.navbar-toggler {
  margin-right: 3%;
}

.container {
  padding: 8rem 0rem;
}

.parallax { 
  /* The image used */
  background-image: url("https://www.freevector.com/uploads/vector/preview/12178/FreeVector-Purple-Plants-Background.jpg");
  
  /* Full height */
  height: 100%; 
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

#about {
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/46/79/stylish-doodle-gem-crystals-vector-21134679.jpg");
  text-align: center;
  color: #150f21;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-top: 5px solid #8F3985;
}