body, html {
  height: 100%;
  scroll-behavior: smooth;
  color: #150f21;
}

ul {
  text-align: right;
  font-size: 20px;
  margin-right: 3%;
}

.navbar-toggler {
  margin-right: 3%;
}

.container {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.parallax { 
  /* The image used */
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/46/79/stylish-doodle-gem-crystals-vector-21134679.jpg");
  
  /* Full height */
  height: 100%; 
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

#portfolio {
  color: #f8f9fa;
}

#about {
   text-align: center;
  
}

.icon { 
  color: #150f21;
  margin-right: 20px;
}

.icons {
  margin-left: 45%;
}

.btn-outline {
  color: #8F3985;
  border-color: #8F3985;
}

.btn-outline:hover {
  color: #f8f9fa;
  background-color: #8F3985;
}

.footer {
  padding: 15px;
  background-color: #f8f9fa;
  border-top: 5px solid #8F3985;
}